<%= form_tag users_path, method: :get do %>
<div class="form-group col-sm-2">
<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by full name" %>
</div>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class="row">
<% if current_user.role == "patient" %>
<h2>Doctors:</h2>
<% @users.each do |user| %>
<div style="margin-top: 5%;">
<hr/>    
<h3>Full name: <%= user.full_name %></h3>
<p><%= friendship(user, current_user)%></p>
<p>Current hospital: <%= user.current_hospital %></p>
</div>
<% end %>
<% end %>

<% if current_user.role == "doctor" %>
<h2>Patients:</h2>
<% @users.each do |user| %>
<div style="margin-top: 5%;">
<hr/>    
<h3>Full name: <%= user.full_name %></h3>
<p><%= friendship(user, current_user)%></p>
<p>Current hospital: <%= user.current_hospital %></p>
</div>
<% end %>
<% end %>

<%= paginate @users %>

</div>