<table class="table table-hover" id="tableInsulinInjection">
  <thead class="black white-text">
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col">Time</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
<% @day.insulin_injections.each do |insulin_injection| %>   
    <tr id="insulin_injection_<%= insulin_injection.id %>">
      <th scope="row" id="<%=insulin_injection.id %>_amount"><%= insulin_injection.amount %></th>
      <td id="<%=insulin_injection.id %>_insulin_type"><%= insulin_injection.insulin_type %></td>
      <td id="<%=insulin_injection.id %>_created_at"><%= insulin_injection.created_at.strftime('%H:%M') %></td>
      <td><%= link_to "Edit", edit_year_month_day_insulin_injection_path(@year, @month, @day, insulin_injection), remote: true %></td>
      <td><%= link_to "Delete", year_month_day_insulin_injection_path(@year, @month, @day, insulin_injection), method: :delete, remote: true %></td>
    </tr>
<% end %>
  </tbody>
</table>
