$("#<%= @exercise.id %>_begining").text("<%= @exercise.begining.to_datetime.strftime('%H:%M') %>");
$("#<%= @exercise.id %>_ending").text("<%= @exercise.ending.to_datetime.strftime('%H:%M') %>");
$("#<%= @exercise.id %>_status").text("<%= @exercise.status %>");
$("#<%= @exercise.id %>_description").text("<%= @exercise.description %>");
$("#<%= @exercise.id %>_duration").text("<%= (@exercise.duration * 60).to_i %> mins");
$("#lineChart").html('<%= j render "line_chart" %>');
$("#pieChart").html('<%= j render "pie_chart" %>');
window.location.href = '#lineChart'
$("#hereexercise").remove();
$("#thereexercise").append("<div id='hereexercise'></div>");
$("#notifier").text("Exercise is succsessfully updated");